

.conterTudoEstudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    .linksBooksMarks{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .linksGuardados{
        width: 80%;
        height: 300px;
        margin-top: 20px;
        background-color: rgb(139, 139, 139);
        border-radius: 5px;
        padding: 15px;
        
    }
    .linksGuardados.fixolink {
        position: fixed;
        margin-top: 100px;
        width: 25%;
        margin-right: 5%; 
    }
        .linkBook{
            width: 100%;
            height: 1fr;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
            .Links{
                text-decoration: none;
                color: white;

            }
            .Links:hover{
                animation: clicar 1.3s infinite ;
                color: rgb(192, 17, 17);
                filter: drop-shadow(10px 10px 5px rgba(255, 255, 255, 0.738));
                
                
            }
            @keyframes clicar{
                0%{transform:scale(1);}
                50%{transform:scale(1.17) ;}
                100%{transform:scale(1) ;}
            }
            html {
                scroll-behavior: smooth;
              }
        .botaoDiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .BotaoIA{
                width: 149px;
                height: 70px;
                color:black;
                background-color: #00ff62;
                border-radius: 9px;
                border: none;
                font-size: 114%;
            }
            .BotaoIA:hover{
                background-color: #ff9100;
                animation: Almentar 1.5s infinite;
            }
            @keyframes Almentar {
                0%{transform: scale(1);}
                50%{transform: scale(1.067);}
                100%{transform: scale(1);}
            }