*{
    font-family: "Inter", sans-serif;
    text-align: center;
}



.centralizarElementos{
    display: flex;
    justify-content: space-around;
}
    iframe{
        width: 60%;
        height: 550px;
    }
    .cards{
        width: 35%;
        height: 550px;
        background-color: rgb(65, 65, 65);
        border: solid none;
        border-radius:15px;
        text-align: center;
        padding: 0%;
    }
        .cards .tituloCard{
            width: 100%;
            height: 10%;
            align-items: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(45, 211, 64);
        }
        .InputCard{
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
            .InputCardText{
                background-color: dimgrey;
                color: white;
                height: 27px;
                width: 152px;
                border: none;
                border-radius: 5px;
                color: white;
            }
            .InputCardText:focus{
                background-color: rgb(57, 57, 57);
                border: none;
            }
            .InputCardText::placeholder{
                color: white;
                border: none;
            }
                .BotaoInput{
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                }
                .BotaoInput:hover{
                    background-color: rgb(94, 94, 94);

                }
                    .ImgBotao{
                        width: 25px;
                    }

        .cards .GuardaCard{
            width: 100%;
            height: 90%;
            overflow: auto;
            text-align: center;
        }
            .card{
                height: 90px;
                width: 90%;
                margin-top: 15px;
                margin-left: 15px;
                border-radius: 15px;
                background-color: rgba(16, 85, 234, 0.956);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .card p {
                font-size: 20px;
                width: 50%;
                color: white;
            }
            .cardTirar{
                width: 35px;
                height: 35px;
                margin-right: 20px;
                background-color: rgb(164, 0, 0);
                border: none;
                border-radius: 20px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cardTirar:hover{
                background-color: rgb(220, 55, 0);
            }




    